* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar {
  box-shadow: 0px 10px 15px -10px rgba(12, 27, 34, 0.1);
  padding-bottom: 25px;
  position: relative;
}

.navbar-logo {
  position: absolute;
  width: 108px;
  left: 205px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 10px 0 0 350px;
  color: #606060;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-information {
  display: flex;
  gap: 20px;
}

.navbar-information-items {
  font-size: 14px;
}

.navbar-sale {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar-button {
  background-color: #ffbc0d;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.navbar-menu {
  width: 1400px;
  margin: 15px 0 0 350px;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* promotions */
.promotions-image {
  width: 100vw;
}

.call-button {
  position: relative;
  bottom: 180px;
  left: 190px;
  background-color: #ffbc0d;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
/* offers */

/* information */

/* appOffer */

/* about */

/* socialNetworks */
